<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equip="X-UA-Compatible" content="ie=edge">d>
        <link rel = "icon" href="{{ url_for('static', filename='img/title-logo.jpg')}} ">
        <title> GIFT | About </title>

    </head>

    <body>
        <div class="about">
            <h1> About </h1>
            <p> This is a text-oriented, language-processing web application <p>
            <p> The website is built with Python programming language with the backend of Flask framework, 
                marked up in HTML, CSS and scripted in JavaScript.</p> <br>
            
            <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
              </p> <br>
        </div>
        
        <div id = "about-page-container" >
            <div id = "about-content-wrap">
                <ul class = "list-project-process"></ul>
                    <li> Research </li>
                    <p> - </p>
                    <br>

                    <li> Investigation </li>
                    <p> - </p>
                    <br>
                    
                    <li> Design Depiction </li>
                    <p> - </p>
                    <br>

                    <li> Development Implemention </li>
                    <p> - </p>
                    <br>
                    
                    <li> Analysis of Testing </li>
                    <p>- </p>
                    <br>

                    <li> Project Evaluation </li>
                    <p> - </p>
                    <br>
                </ul>
            </div>
        </div>



        <footer id="footer-site-container" class="footer-site" role="contentinfo">
            <div class="footer-site-info">
                <a href="#"> | Privacy Policy | </a>
                <a href="#"> Terms of Service </a>
            </div>
    </footer>
    </body>
</html>