<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel = "icon" href="{{ url_for('static', filename='img/title-logo.jpg')}} ">
        <title> GIFT | Text Mining </title>
    </head>
    
    <body>
        <main>
            <h2> Text Mining </h2>
            
            <!-- add images (including diagrams) about NLP processes -->
            <h2> Natural Language Processing (NLP) </h2>
            <p> - </p>
            <img src="" alt="">

            <h3> NLP Components: NLU and NLG </h3>
            <p> - </p>

            <h4> NLU </h4>
            <p> - </p>
            <img src="" alt="">

            <h4> NLG </h4>
            <p> - </p>
            <img src="" alt="">

            <h3> Steps involved in NLP</h3>
            <p> - </p>
            <img src=" " alt="">
            <div>
                <li> Tokenisation </li>
                    <p> - </p>
                    <img src="" alt="">
                <li> Stemming </li>
                    <p> - </p>
                    <img src="" alt="">
                <li> Lemmatisation </li>
                    <p> - </p>
                    <img src="" alt="">
                <li> POS Tags </li>
                    <p> - </p>
                    <img src="" alt="">
                <li> Named Entity Recognition </li>
                    <p> - </p>
                    <img src="" alt="">
                <li> Chunking </li>
                    <p> - </p>
                    <img src="" alt="">
            </div>


            <div class = "video-container">
                <div class="video-wrapper">
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/xxqrIZyKKuk"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/5ctbvkAMQO4" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
                <!-- <p> 2 components: NLU and NLG </P> -->
                    <!-- <h3> NLU </h3>
                        <p> 
                    <h3> NLG </h3> -->
        </main>
    </body>
</html>